<!doctype html>
<html lang="pt-br">
  <head>
    <!-- ======= Required Meta Tags ======= -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- ======= Bootstrap CSS ======= -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- ======= Font Awesome ======= -->
    <link rel='stylesheet' href="/fontawesome/css/all.css">
    <link rel='stylesheet' href="/fontawesome/js/all.js">
    
    <!-- ======= CSS Principal ======= -->
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <!-- ======= Formulário ======= -->
    <div class="container">
      <form id="formulario" action="/show" method="POST">
        <div class="form-group">
          <label for="E-mail">E-mail</label>
          <input type="text" class="form-control" id="E-mail" placeholder="Insira seu e-mail" name="nome">
        </div>
        <div class="form-group">
          <label for="Senha">Senha</label>
          <input type="text" class="form-control" id="Senha" placeholder="Insira sua senha" name="senha">
        </div>
        <button type="submit" class="btn btn-primary">Entrar</button>
      </form>
    </div>
  
    <!-- ======= Javascript do Bootstrap e do Jquery ======= -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>


</html>